{% extends "layout.njk" %}

{% block head %}
   <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

            <main>
                <div class="content">

                   <div class="card">
                        <img src="assets/burger.png" alt="Imagem de Triplo bacon burger">
                        <h3>Triplo bacon burger</h3>
                        <p>por Jorge Relato</p>
                        <a href="/recipes/0">Acessar receita</a>
                    </div>

                    <div class="card">
                        <img src="assets/pizza.png" alt="Imagem de Pizza 4 estações">
                        <h3>Pizza 4 estações</h3>
                        <p>por Fabiana Melo</p>
                        <a href="/recipes/1">Acessar receita</a>

                    </div>

                    <div class="card">
                        <img src="assets/espaguete.png" alt="Imagem de Espaguete ao alho">
                        <h3>Espaguete ao alho</h3>
                        <p>por Júlia Kinoto</p>
                        <a href="/recipes/2">Acessar receita</a>

                    </div>
                
                    <div class="card">
                        <img src="assets/lasanha.png" alt="Imagem de Lasanha mac n´ cheese">
                        <h3>Lasanha mac n´ cheese</h3>
                        <p>por Juliano Vieira</p>
                        <a href="/recipes/3">Acessar receita</a>

                    </div>

                    <div class="card">
                        <img src="assets/doce.png" alt="Imagem de Docinhos pão-do-céu">
                        <h3>Docinhos pão-do-céu</h3>
                        <p>por Ricardo Golvea</p>
                        <a href="/recipes/4">Acessar receita</a>

                    </div>

                    <div class="card">
                        <img src="assets/asinhas.png" alt="Imagem de Asinhas de Frango">
                        <h3>Asinhas de frango ao barbecue</h3>
                        <p>por Vania Steroski</p>
                        <a href="/recipes/5">Acessar receita</a>

                    </div>
                    
                </div>
            </main>
    

        <div class="modal-overlay">
            <div class="modal">
              <img src="" alt="" />
              <h3 class="modal-title"></h3>
              <p class="modal-author">i</p>
              <a href="#" class="close-modal">Fechar modal</a>
            </div>
          </div>
    
            <script src="scripts.js"></script>

{% endblock %}